<h1>Listing items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Open time</th>
    <th>Close time</th>
    <th>Open days</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td><%= item.open_time %></td>
    <td><%= item.close_time %></td>
    <td><%= item.open_days %></td>
    <td><%= item.longitude %></td>
    <td><%= item.latitude %></td>
    <td><%= item.category %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
