<!DOCTYPE HTML> 
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/> 
<LINK REL=StyleSheet HREF="stylesheets/style.css" TYPE="text/css" MEDIA=screen>
</head>



<body>
  <script>
  $(document).ready(function() { $("#banner a").bind("click",function(event){ event.preventDefault(); var target = $(this).attr("href"); $("html, body").stop().animate({ scrollLeft: $(target).offset().left, scrollTop: $(target).offset().top }, 1200); }); });   
</script>

  <header><a href="/"><img src="images/landingpage3.png" alt="skyline"></a></header>
  <div id="listbody">  
 
<ul id="banner"> 
  <a href="#activities"><img id="listimages" src="images/logos/Activities.png" alt="activity"></a>
  <a href="#dining"><img id="listimages" src="images/logos/Dining.png" alt="Dining"></a>
  <a href="#communities"><img id="listimages" src="images/logos/Community.png" alt="Communities"></a>
  <a href="#services"><img id="listimages" src="images/logos/Service.png" alt="Services"></a>
  <a href="#landmarks"><img id="listimages" src="images/logos/Landmark.png" alt="Landmarks"></a> 
  <a href="#events"><img id="listimages" src="images/logos/Event.png" alt="Events"></a> 
</ul>
    
    <!--Slide1-->
  <div id="activities" class="panel"> 
<% @items.each do |item| %>
<ul>  <%  if item.category == "Activities" %><div id="list">
  <tr>
 <li>  <td><%= link_to "#{item.name}", item %></td> </li>
    <% if logged_in? %>
  <div class="button"><td><%= link_to "Edit", edit_item_path(item) %></td></div>
  <div class="button"><td><%= link_to "Delete", item, :confirm => 'Are you sure?', :method => :delete %></td></div>
    <%end%>
  </tr>  
  </ul>

<% end  %>
<% end  %>
  </div> 
  
    
    <!--Slide2-->
  <div id="dining" class="panel"> 

<% @items.each do |item| %>
<ul>  <%  if item.category == "Dining" %>
  <tr>
  <li>  <td><%= link_to "#{item.name}", item %></td> </li> 
  </tr>
  </ul>
<% if logged_in? %> 
  <div class="button"><td><%= link_to "Edit", edit_item_path(item) %></td></div>
<div class="button"><td><%= link_to "Delete", item, :confirm => 'Are you sure?', :method => :delete %></td></div>
    <%end%>
    
<% end  %>
<% end  %>
</div> 
    
    
  <!--Slide3-->
  <div id="communities" class="panel">  
    
<% @items.each do |item| %>
<ul>  <%  if item.category == "Communities" %>
  <tr>
  <li>  <td><%= link_to "#{item.name}", item %></td> </li> 
  </tr>
  </ul>
<% if logged_in? %> 
  <div class="button"><td><%= link_to "Edit", edit_item_path(item) %></td></div>
<div class="button"><td><%= link_to "Delete", item, :confirm => 'Are you sure?', :method => :delete %></td></div>
    <%end%>
    
<% end  %>
<% end  %>

  </div>
  
  <!--Slide4-->
  <div id="services" class="panel"> 

<% @items.each do |item| %>
<ul>  <%  if item.category == "Services" %>
  <tr>
  <li>  <td><%= link_to "#{item.name}", item %></td> </li> <!-- add item description? -->
  </tr>
  </ul>
<% if logged_in? %> 
  <div class="button"><td><%= link_to "Edit", edit_item_path(item) %></td></div>
<div class="button"><td><%= link_to "Delete", item, :confirm => 'Are you sure?', :method => :delete %></td></div>
    <%end%>
    
<% end  %>
<% end  %>
</div> 
  
  
  
  <!--Slide5-->
  <div id="landmarks" class="panel">

<% @items.each do |item| %>
<ul>  <%  if item.category == "Landmarks" %>
  <tr>
  <li>  <td><%= link_to "#{item.name}", item %></td> </li> <!-- add item description? -->
  </tr>
  </ul>
<% if logged_in? %> 
  <div class="button"><td><%= link_to "Edit", edit_item_path(item) %></td></div>
<div class="button"><td><%= link_to "Delete", item, :confirm => 'Are you sure?', :method => :delete %></td></div>
    <%end%>
    
<% end  %>
<% end  %>
</div>
  
  
  
  <!--Slide6-->
  <div id="events" class="panel">
    <% @@today_events = Array.new %>
    <% @@future_events = Array.new %>
    <% @@past_events = Array.new %>
    
    <% @items.each do |item| %>
    <%  if item.category == "Events" %>
    
    <% if item.startdate.nil? || (item.startdate <= Date.today && item.enddate >= Date.today) %>
    <% @@today_events << item %>     
    
    
    <%  elsif item.startdate > Date.today %>
    <% @@future_events << item %> 
    
    
    <% else %>
     <!--item.startdate < Date.today && item.enddate < Date.today -->
    <% @@past_events << item %>
    <% end %>
    
   <% end %>
 <% end %>
    <p> today's events: </p>
<% @@today_events.each do |item| %>
<ul>    
  <tr>
  <li>  <td><%= link_to "#{item.name}", item %></td> </li> 
  </tr>
  </ul>
<% if logged_in? %> 
  <div class="button"><td><%= link_to "Edit", edit_item_path(item) %></div>
<div class="button"><td><%= link_to "Delete", item, :confirm => 'Are you sure?', :method => :delete %></div>
    
<%end%>
    
<%end%>

<p> Future events: </p>
<% @@future_events.each do |item| %>
<ul>    
  <tr>
  <li>  <td><%= link_to "#{item.name}", item %></td> </li> 
  </tr>
  </ul>
<% if logged_in? %> 
  <div class="button"><td><%= link_to "Edit", edit_item_path(item) %></div>
<div class="button"><td><%= link_to "Delete", item, :confirm => 'Are you sure?', :method => :delete %></div>
    
<%end%>
    
<%end%>


<p> Past events: </p>
<% @@past_events.each do |item| %>
<ul>    
  <tr>
  <li>  <td><%= link_to "#{item.name}", item %></td> </li> 
  </tr>
  </ul>
<% if logged_in? %> 
  <div class="button"><td><%= link_to "Edit", edit_item_path(item) %></div>
  <div class="button"><td><%= link_to "Delete", item, :confirm => 'Are you sure?', :method => :delete %></div>
<%end%>
    
<%end%>


 </div>
  
  
  </div><!--end of listbody div -->
</body>

</html>