<!DOCTYPE HTML> 
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/> 
<link href='stylesheets/list.css' rel='stylesheet'/>
</head>


<body>
  <header>
  <div id="dlvskyline"><a href="/"><img src="images/dlvheader.jpg" alt="skyline"></div></a>
<div id="lvskyline"><a href="/"><img src="images/lvheader.jpg" alt="skyline"></div></a>
  
   </header>
<div id="listbody">  
 
<ul id="banner"> 
  <li> <a href="#activities"><img id="listimages" src="images/logos/Activity-2.png" alt="activity"></a> </li> 
  <li> <a href="#dining"><img id="listimages" src="images/logos/Dining-2.png" alt="Dining"></a></li> 
  <li> <a href="#communities"><img id="listimages" src="images/logos/Community-2.png" alt="Communities"></a> </li> 
  <li> <a href="#services"><img id="listimages" src="images/logos/Service-2.png" alt="Services"></a> </li>
  <li> <a href="#landmarks"><img id="listimages" src="images/logos/Landmark-2.png" alt="Landmarks"></a> </li>
  <li> <a href="#events"><img id="listimages" src="images/logos/Event-2.png" alt="Events"></a> </li>
</ul>
    
    <!--Slide1-->
<div id="activities" class="panel"> 
<div id="prev"><a href="#events">< Prev</a></div>    <div id="next"><a href="#dining">Next ></a></div>
<div id="listheadimg"><img src="images/HeaderActivity.png" alt="activity"></div>

<div id="list">
<% @items.each do |item| %>
<ul>  <%  if item.category == "Activities" %>
  <tr>
 <li>  <td><%= link_to "#{item.name}", item %></td> </li>
    <% if logged_in? %>
  <div class="button"><td><%= link_to "Edit", edit_item_path(item) %></td></div>
  <div class="button"><td><%= link_to "Delete", item, :confirm => 'Are you sure?', :method => :delete %></td></div>
    <%end%>
  </tr>  
  </ul>

<% end  %>
<% end  %>
  </div> 

<div id="dmapview"><iframe width="80%" height="350" 
frameborder="0" scrolling="no" marginheight="0" 
marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=213986189473206983699.0004cead1c5a493562912&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=25.360334,51.527821&amp;spn=0.001784,0.00058&amp;output=embed">
</iframe> </div>

<div id="lvcompass"><a href="/maps/activities"><img src="images/compass.png" alt="compass"></a></div>
</div>
  
    
    <!--Slide2-->
  <div id="dining" class="panel">
  <div id="prev"><a href="#activities">< Prev</a></div>    <div id="next"><a href="#communities">Next ></a></div>
<div id="listheadimg"><img src="images/HeaderDining.png" alt="activity"></div>

<div id="list">
<% @items.each do |item| %>
<ul>  <%  if item.category == "Dining" %>
  <tr>
  <li>  <td><%= link_to "#{item.name}", item %></td> </li> <!-- add item description? -->
  </tr>
  </ul>
<% if logged_in? %> 
  <div class="button"><td><%= link_to "Edit", edit_item_path(item) %></td></div>
<div class="button"><td><%= link_to "Delete", item, :confirm => 'Are you sure?', :method => :delete %></td></div>
    <%end%>
    
<% end  %>
<% end  %>
</div> 


<div id="dmapview">
<iframe width="80%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=213986189473206983699.0004ceac2dd881649ac76&amp;hl=en&amp;ie=UTF8&amp;ll=25.358754,51.526624&amp;spn=0.006679,0.003445&amp;t=m&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=213986189473206983699.0004ceac2dd881649ac76&amp;hl=en&amp;ie=UTF8&amp;ll=25.358754,51.526624&amp;spn=0.006679,0.003445&amp;t=m&amp;source=embed" style="color:#0000FF;text-align:left">Dining</a> in a larger map</small>
</div>
 <div id="lvcompass"><a href="/maps/dining"><img src="images/compass.png" alt="compass"></a></div> 

</div>
    
    
  <!--Slide3-->
  <div id="communities" class="panel">  
  <div id="prev"><a href="#dining">< Prev</a></div>    <div id="next"><a href="#services">Next ></a></div>

<div id="listheadimg"><img src="images/HeaderCommunity.png" alt="activity"></div>

<div id="list">
<% @items.each do |item| %>
<ul>  <%  if item.category == "Communities" %>
  <tr>
  <li>  <td><%= link_to "#{item.name}", item %></td> </li> <!-- add item description? -->
  </tr>
  </ul>
<% if logged_in? %> 
  <div class="button"><td><%= link_to "Edit", edit_item_path(item) %></td></div>
<div class="button"><td><%= link_to "Delete", item, :confirm => 'Are you sure?', :method => :delete %></td></div>
    <%end%>
    
<% end  %>
<% end  %>

  </div>
  
  <div id="dmapview">
<iframe width="80%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=213986189473206983699.0004cead1b7e1a1338cdf&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=25.360098,51.525989&amp;spn=0.004201,0.002424&amp;output=embed"></iframe><br />
</div>
   <div id="lvcompass"><a href="/maps/communities"><img src="images/compass.png" alt="compass"></a></div> 

  </div>
  
  <!--Slide4-->
  <div id="services" class="panel"> 
  <div id="prev"><a href="#communities">< Prev</a></div>    <div id="next"><a href="#landmarks">Next ></a></div>

<div id="listheadimg"><img src="images/HeaderService.png" alt="activity"></div>

<div id="list">
<% @items.each do |item| %>
<ul>  <%  if item.category == "Services" %>
  <tr>
  <li>  <td><%= link_to "#{item.name}", item %></td> </li> <!-- add item description? -->
  </tr>
  </ul>
<% if logged_in? %> 
  <div class="button"><td><%= link_to "Edit", edit_item_path(item) %></td></div>
<div class="button"><td><%= link_to "Delete", item, :confirm => 'Are you sure?', :method => :delete %></td></div>
    <%end%>
    
<% end  %>
<% end  %>
</div> 
  <div id="dmapview">
<iframe width="80%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=213986189473206983699.0004ceaccff1ba248db5c&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=25.358776,51.525576&amp;spn=0.006713,0.004662&amp;output=embed"></iframe>
</div>

  <div id="lvcompass"><a href="/maps/services"><img src="images/compass.png" alt="compass"></a></div> 

</div>
  
  
  
  <!--Slide5-->
  <div id="landmarks" class="panel">
  <div id="prev"><a href="#services">< Prev</a></div>    <div id="next"><a href="#events">Next ></a></div>

<div id="listheadimg"><img src="images/HeaderLandmark.png" alt="activity"></div>

<div id="list">
<% @items.each do |item| %>
<ul>  <%  if item.category == "Landmarks" %>
  <tr>
  <li>  <td><%= link_to "#{item.name}", item %></td> </li> <!-- add item description? -->
  </tr>
  </ul>
<% if logged_in? %> 
  <div class="button"><td><%= link_to "Edit", edit_item_path(item) %></td></div>
<div class="button"><td><%= link_to "Delete", item, :confirm => 'Are you sure?', :method => :delete %></td></div>
    <%end%>
    
<% end  %>
<% end  %>
</div>
  <div id="dmapview">
<iframe width="80%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=213986189473206983699.0004ceace678f5ad34232&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=25.360346,51.526137&amp;spn=0.002367,0.003176&amp;output=embed"></iframe>
</div>
  <div id="lvcompass"><a href="/maps/landmarks"><img src="images/compass.png" alt="compass"></a></div> 

</div>
  
  
  <!--Slide6-->
  <div id="events" class="panel">
  <div id="prev"><a href="#landmarks">< Prev</a></div>    <div id="next"><a href="#activities">Next ></a></div>
<div id="listheadimg"><img src="images/HeaderEvent.png" alt="activity"></div>

<div id="list">
<% @items.each do |item| %>
<ul>  <%  if item.category == "Events" %>
  <tr>
  <li>  <td><%= link_to "#{item.name}", item %></td> </li> <!-- add item description? -->
  </tr>
  </ul>
<% if logged_in? %> 
  <div class="button"><td><%= link_to "Edit", edit_item_path(item) %></td></div>
<div class="button"><td><%= link_to "Delete", item, :confirm => 'Are you sure?', :method => :delete %></td></div>
    <%end%>
    
<% end  %>
<% end  %>
 </div>
  <div id="dmapview">
<iframe width="80%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=213986189473206983699.0004cead1a3580094bcb3&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=25.360024,51.525573&amp;spn=0.000524,0.00235&amp;output=embed"></iframe>
</div> 
   <div id="lvcompass"><a href="/maps/events"><img src="images/compass.png" alt="compass"></a></div> 


  </div>
  
  </div><!--end of listbody div -->
  
<footer>
  <div id="lvfooter"><img src="images/lvfooter.jpg" alt="skyline"></div>
</footer>
</body>

<script>
  $(document).ready(function() { $("#banner a").bind("click",function(event){ event.preventDefault(); var target = $(this).attr("href"); $("html, body").stop().animate({ scrollLeft: $(target).offset().left, scrollTop: $(target).offset().top }, 1200); }); });   
</script>

<script>
  $(document).ready(function() { $("#prev a").bind("click",function(event){ event.preventDefault(); var target = $(this).attr("href"); $("html, body").stop().animate({ scrollLeft: $(target).offset().left, scrollTop: $(target).offset().top }, 1200); }); });   
</script>

<script>
  $(document).ready(function() { $("#next a").bind("click",function(event){ event.preventDefault(); var target = $(this).attr("href"); $("html, body").stop().animate({ scrollLeft: $(target).offset().left, scrollTop: $(target).offset().top }, 1200); }); });   
</script>
</html>