<header><a href="/"><img src="/images/" alt="skyline" ></a> </header>

<div id="wrapper">

<p id="notice"><%= notice %></p>

<div id="cat">
<p>
  <b>Category:</b>
  <%= @item.category %>
</p>
</div>


<div id="itemName">
<p>
  <b>Name:</b>
  <%= @item.name %>
</p>
</div>


<div id="desc">
<p>
<img src="/images/info.png" alt="info"/> 
  <b>Description:</b>
  <%= @item.description %>
</p>
</div> 

<div id="building">
<p>
<img src="/images/building.png" alt="building"/> 
  <b>Building Number:</b>
  <%= @item.building_number %>
</p>
</div>

<div id="phone">
<p>
  <b><img src="/images/tel.png" alt="phone"/> Phone Number:</b>
  <%= @item.phone %>
</p>
</div> 

<div id="email">
 
<p>  
  <b><img src="/images/mail.png" alt="mail"/> Email:</b>
  <%= @item.email %>
</p>
</div>


<div id="website">
<p>
  <b><img src="/images/web.png" alt="web"/> Website:</b>
  <%= @item.website %>
</p>
</div>


<% if @item.category == 'Events' %>

  
  <p><b>Start Date: </b><%= @item.startdate.strftime("%d %B %Y") %></p>
  <br>
  <p><b>End Date: </b><%= @item.enddate.strftime("%d %B %Y") %></p>
  

<%end%>
  
  </br>
<% if @item.location.nil? == false %>
<p>
<%= link_to "Show #{@item.name} on the map", @item.location %>
</p>
<%end%>

</div> <!--end of wrapper -->


<br>
<% if logged_in? %>
<div class="button2">  <%= link_to 'Edit', edit_item_path(@item) %> 
<%end%></div>
<div class="button2"><%= link_to 'Back', items_path %></div>


