<head>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/> 
<link href='stylesheets/list.css' rel='stylesheet'/>
</head>
<body>
<header>
<div id="dpheader"><a href="/"><img style="width:100%;" src="/images/lvheader.jpg" alt="skyline" ></a></div>
<div id="dlvskyline"><a href="/"><img src="/images/dlvheader.jpg" alt="skyline"></div></a>
</header>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div id="wrapper">

<p id="notice"><%= notice %></p>

<div class='spread'>
  <div class='twshare left'>
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="funonrails">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </div>
  <br><br>
  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" layout="button_count" show_faces="false" width="450" font=""></fb:like>
</div>
<br>

<div id="cat">
<p>
  <b>Category:</b>
  <%= @item.category %>
</p>
</div>


<div id="itemName">
<p>
  <b>Name:</b>
  <%= @item.name %>
</p>
</div>


<div id="desc">
<p>
<img src="/images/info.png" alt="info"/> 
  <b>Description:</b>
  <%= @item.description %>
</p>
</div> 

<div id="building">
<p>
<img src="/images/building.png" alt="building"/> 
  <b>Building Number:</b>
  <%= @item.building_number %>
</p>
</div>

<div id="phone">
<p>
  <b><img src="/images/tel.png" alt="phone"/> Phone Number:</b>
  <%= @item.phone %>
</p>
</div> 

<div id="email">
 
<p>  
  <b><img src="/images/mail.png" alt="mail"/> Email:</b>
  <%= @item.email %>
</p>
</div>


<div id="website">
<p>
  <b><img src="/images/web.png" alt="web"/> Website:</b>
  <%= @item.website %>
</p>
</div>


<p>
  <% if @item.category == 'Events' %>
  <%= @item.startdate %>
  <%= @item.enddate %>
  <%end%>
</p>

<% if logged_in? %>
<div class="button2" style="float: right;">  <b><%= link_to 'Edit', edit_item_path(@item) %></b> 
<%end%></div>

<div class="button2" style="float: right; margin-right: 5%;"><b><%= link_to 'Back', items_path %></b></div>
<br><br>

</div> <!--end of wrapper -->

<% if @item.location.nil? == false %>
<div id="itemlocation" style="height: 50%;"> <iframe width="80%" height="300" 
frameborder="0" scrolling="no" marginheight="0" 
marginwidth="0" src="<%= @item.location %>&amp;output=embed"> </iframe> 
<%end%>
</div>
</br>

</div>



<br>

<footer>  </footer>

</body>

