<head>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/> 
<link href='stylesheets/list.css' rel='stylesheet'/>
</head>
<body>
<header><div id="dpheader"><a href="/"><img style="width:100%;" src="/images/lvheader.jpg" alt="skyline" ></a></div> </header>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="wrapper">

<p id="notice"><%= notice %></p>

<div id="cat">
<p>
  <b>Category:</b>
  <%= @item.category %>
</p>
</div>


<div id="itemName">
<p>
  <b>Name:</b>
  <%= @item.name %>
</p>
</div>


<div id="desc">
<p>
<img src="/images/info.png" alt="info"/> 
  <b>Description:</b>
  <%= @item.description %>
</p>
</div> 

<div id="building">
<p>
<img src="/images/building.png" alt="building"/> 
  <b>Building Number:</b>
  <%= @item.building_number %>
</p>
</div>

<div id="phone">
<p>
  <b><img src="/images/tel.png" alt="phone"/> Phone Number:</b>
  <%= @item.phone %>
</p>
</div> 

<div id="email">
 
<p>  
  <b><img src="/images/mail.png" alt="mail"/> Email:</b>
  <%= @item.email %>
</p>
</div>


<div id="website">
<p>
  <b><img src="/images/web.png" alt="web"/> Website:</b>
  <%= @item.website %>
</p>
</div>


<p>
  <% if @item.category == 'Events' %>
  <%= @item.startdate %>
  <%= @item.enddate %>
  <%end%>
</p>

</div> <!--end of wrapper -->

</br>
<p>
<%= link_to "Show #{@item.name} on the map", @item.location %>

</p>

<br>
<% if logged_in? %>
<div class="button2">  <%= link_to 'Edit', edit_item_path(@item) %> 
<%end%></div>
<div class="button2"><%= link_to 'Back', items_path %></div>

<footer> <div id="dpfooter"><a href="/"><img style="width:100%;" src="/images/lvfooter.jpg" alt="skyline" ></a></div> </footer>

</body>

