<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Building Number:</b>
  <%= @item.building_number %>
</p>

<p>
  <b>Phone Number:</b>
  <%= @item.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @item.email %>
</p>

<p>
  <b>Website:</b>
  <%= @item.website %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category %>
</p>

<p>
  <% if @item.category == 'Events' %>
  <%= @item.startdate %>
  <%= @item.enddate %>
  <%end%>
</p>

<%= image_tag @item.picture unless @item.picture.blank?  %>

<p>
<%= link_to "Click here to View #{@item.name} on the map", @item.location %>

</p>

<br>
<% if logged_in? %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
<%end%>
<%= link_to 'Back', items_path %>