<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Katara's What & Where" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
     <% if logged_in? %>
  <a href="/items/new">Add an item</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/mapspage">Map instructions</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/logout">Logout</a> 
  <%end%>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
